/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #ff3838;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #da6363f7;
  --ion-color-primary-tint: #ff4c4c;
  --ion-background-color: #f4f5f8;
  --ion-toolbar-background: #ff3838;
  --ion-toolbar-color: #ffffff;
}